In [1]:
print("hola mundo")

hola mundo

**Otra cosa**
- A ver
- Qué más

*Más texto*
1. Más listas
2. Otra

In [2]:
print([[1,2,3], [4,5,6], [7,8,9]])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
import pandas as pd
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": pd.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo